- title "<%= singular_name.titleize %>"

%dl.dl-horizontal
  <%- for attribute in attributes -%>
  %dt <%= attribute.column.human_name.titleize %>:
  %dd= @<%= singular_name %>.<%= attribute.name %>

  <%- end -%>

%p
  <%- if action? :edit -%>
  = link_to "Edit", edit_<%= singular_name %>_path(@<%= singular_name %>), class: 'btn btn-primary'
  |
  <%- end -%>
  <%- if action? :destroy -%>
  = link_to "Destroy", @<%= singular_name %>, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn'
  |
  <%- end -%>
  <%- if action? :index -%>
  = link_to "View All", <%= plural_name %>_path, class: 'btn'
  <%- end -%>
