%h2 New <%= display_singular_name.titleize %>


= form_for @<%= instance_name %>, url: <%= items_path %> do |f|
  = render partial: 'form', locals: {f: f}
  %ul.actions.list-inline
    %li
      = f.submit 'Create' , class: 'btn btn-default'
    <%- if action? :index -%>
    %li
      = link_to 'Back to List', <%= items_path %>, class: 'btn btn-default'
    <%- end -%>
